/* grinning */
.diversityEmojiItemImage_cce80d[src='/assets/aa1b87cb8be62e4c386b.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/aa1b87cb8be62e4c386b.svg")'], 
.image_b000dd[src='/assets/aa1b87cb8be62e4c386b.svg'], .image_b000dd[style*='background-image: url("/assets/aa1b87cb8be62e4c386b.svg")'], 
.emoji_f48b14[src='/assets/aa1b87cb8be62e4c386b.svg'], .emoji_f48b14[style*='background-image: url("/assets/aa1b87cb8be62e4c386b.svg")'], 
.emojiImage_f23da8[src='/assets/aa1b87cb8be62e4c386b.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/aa1b87cb8be62e4c386b.svg")'], 
.image_d90b3d[src='/assets/aa1b87cb8be62e4c386b.svg'], .image_d90b3d[style*='background-image: url("/assets/aa1b87cb8be62e4c386b.svg")'], 
.icon_a24e84[src='/assets/aa1b87cb8be62e4c386b.svg'], .icon_a24e84[style*='background-image: url("/assets/aa1b87cb8be62e4c386b.svg")'], 
.emoji_f2bfbb[src='/assets/aa1b87cb8be62e4c386b.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/aa1b87cb8be62e4c386b.svg")'], 
.emoji_cbdbf0[src='/assets/aa1b87cb8be62e4c386b.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/aa1b87cb8be62e4c386b.svg")'], 
.roleIcon_d5100b[src='/assets/aa1b87cb8be62e4c386b.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/aa1b87cb8be62e4c386b.svg")'], 
.emoji[src='/assets/aa1b87cb8be62e4c386b.svg'], .emoji[style*='background-image: url("/assets/aa1b87cb8be62e4c386b.svg")'] {
	background: transparent !important;
	content: ":)" !important;
}
/* smiley */
.diversityEmojiItemImage_cce80d[src='/assets/fb21c38780c71e43bf82.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/fb21c38780c71e43bf82.svg")'], 
.image_b000dd[src='/assets/fb21c38780c71e43bf82.svg'], .image_b000dd[style*='background-image: url("/assets/fb21c38780c71e43bf82.svg")'], 
.emoji_f48b14[src='/assets/fb21c38780c71e43bf82.svg'], .emoji_f48b14[style*='background-image: url("/assets/fb21c38780c71e43bf82.svg")'], 
.emojiImage_f23da8[src='/assets/fb21c38780c71e43bf82.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/fb21c38780c71e43bf82.svg")'], 
.image_d90b3d[src='/assets/fb21c38780c71e43bf82.svg'], .image_d90b3d[style*='background-image: url("/assets/fb21c38780c71e43bf82.svg")'], 
.icon_a24e84[src='/assets/fb21c38780c71e43bf82.svg'], .icon_a24e84[style*='background-image: url("/assets/fb21c38780c71e43bf82.svg")'], 
.emoji_f2bfbb[src='/assets/fb21c38780c71e43bf82.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/fb21c38780c71e43bf82.svg")'], 
.emoji_cbdbf0[src='/assets/fb21c38780c71e43bf82.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/fb21c38780c71e43bf82.svg")'], 
.roleIcon_d5100b[src='/assets/fb21c38780c71e43bf82.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/fb21c38780c71e43bf82.svg")'], 
.emoji[src='/assets/fb21c38780c71e43bf82.svg'], .emoji[style*='background-image: url("/assets/fb21c38780c71e43bf82.svg")'] {
	background: transparent !important;
	content: ":)" !important;
}

/* smile */
.diversityEmojiItemImage_cce80d[src='/assets/67c91b6a9d1e304a2722.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/67c91b6a9d1e304a2722.svg")'], 
.image_b000dd[src='/assets/67c91b6a9d1e304a2722.svg'], .image_b000dd[style*='background-image: url("/assets/67c91b6a9d1e304a2722.svg")'], 
.emoji_f48b14[src='/assets/67c91b6a9d1e304a2722.svg'], .emoji_f48b14[style*='background-image: url("/assets/67c91b6a9d1e304a2722.svg")'], 
.emojiImage_f23da8[src='/assets/67c91b6a9d1e304a2722.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/67c91b6a9d1e304a2722.svg")'], 
.image_d90b3d[src='/assets/67c91b6a9d1e304a2722.svg'], .image_d90b3d[style*='background-image: url("/assets/67c91b6a9d1e304a2722.svg")'], 
.icon_a24e84[src='/assets/67c91b6a9d1e304a2722.svg'], .icon_a24e84[style*='background-image: url("/assets/67c91b6a9d1e304a2722.svg")'], 
.emoji_f2bfbb[src='/assets/67c91b6a9d1e304a2722.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/67c91b6a9d1e304a2722.svg")'], 
.emoji_cbdbf0[src='/assets/67c91b6a9d1e304a2722.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/67c91b6a9d1e304a2722.svg")'], 
.roleIcon_d5100b[src='/assets/67c91b6a9d1e304a2722.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/67c91b6a9d1e304a2722.svg")'], 
.emoji[src='/assets/67c91b6a9d1e304a2722.svg'], .emoji[style*='background-image: url("/assets/67c91b6a9d1e304a2722.svg")'] {
	background: transparent !important;
	content: ":)" !important;
}

/* grin */
.diversityEmojiItemImage_cce80d[src='/assets/889914a85940b08bf6c2.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/889914a85940b08bf6c2.svg")'], 
.image_b000dd[src='/assets/889914a85940b08bf6c2.svg'], .image_b000dd[style*='background-image: url("/assets/889914a85940b08bf6c2.svg")'], 
.emoji_f48b14[src='/assets/889914a85940b08bf6c2.svg'], .emoji_f48b14[style*='background-image: url("/assets/889914a85940b08bf6c2.svg")'], 
.emojiImage_f23da8[src='/assets/889914a85940b08bf6c2.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/889914a85940b08bf6c2.svg")'], 
.image_d90b3d[src='/assets/889914a85940b08bf6c2.svg'], .image_d90b3d[style*='background-image: url("/assets/889914a85940b08bf6c2.svg")'], 
.icon_a24e84[src='/assets/889914a85940b08bf6c2.svg'], .icon_a24e84[style*='background-image: url("/assets/889914a85940b08bf6c2.svg")'], 
.emoji_f2bfbb[src='/assets/889914a85940b08bf6c2.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/889914a85940b08bf6c2.svg")'], 
.emoji_cbdbf0[src='/assets/889914a85940b08bf6c2.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/889914a85940b08bf6c2.svg")'], 
.roleIcon_d5100b[src='/assets/889914a85940b08bf6c2.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/889914a85940b08bf6c2.svg")'], 
.emoji[src='/assets/889914a85940b08bf6c2.svg'], .emoji[style*='background-image: url("/assets/889914a85940b08bf6c2.svg")'] {
	background: transparent !important;
	content: ":)" !important;
}

/* laughing */
.diversityEmojiItemImage_cce80d[src='/assets/2b8a7501bc8c14077899.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/2b8a7501bc8c14077899.svg")'], 
.image_b000dd[src='/assets/2b8a7501bc8c14077899.svg'], .image_b000dd[style*='background-image: url("/assets/2b8a7501bc8c14077899.svg")'], 
.emoji_f48b14[src='/assets/2b8a7501bc8c14077899.svg'], .emoji_f48b14[style*='background-image: url("/assets/2b8a7501bc8c14077899.svg")'], 
.emojiImage_f23da8[src='/assets/2b8a7501bc8c14077899.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/2b8a7501bc8c14077899.svg")'], 
.image_d90b3d[src='/assets/2b8a7501bc8c14077899.svg'], .image_d90b3d[style*='background-image: url("/assets/2b8a7501bc8c14077899.svg")'], 
.icon_a24e84[src='/assets/2b8a7501bc8c14077899.svg'], .icon_a24e84[style*='background-image: url("/assets/2b8a7501bc8c14077899.svg")'], 
.emoji_f2bfbb[src='/assets/2b8a7501bc8c14077899.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/2b8a7501bc8c14077899.svg")'], 
.emoji_cbdbf0[src='/assets/2b8a7501bc8c14077899.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/2b8a7501bc8c14077899.svg")'], 
.roleIcon_d5100b[src='/assets/2b8a7501bc8c14077899.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/2b8a7501bc8c14077899.svg")'], 
.emoji[src='/assets/2b8a7501bc8c14077899.svg'], .emoji[style*='background-image: url("/assets/2b8a7501bc8c14077899.svg")'] {
	background: transparent !important;
	content: "xD" !important;
}

/* joy */
.diversityEmojiItemImage_cce80d[src='/assets/af51e8d03e05a1c14355.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/af51e8d03e05a1c14355.svg")'], 
.image_b000dd[src='/assets/af51e8d03e05a1c14355.svg'], .image_b000dd[style*='background-image: url("/assets/af51e8d03e05a1c14355.svg")'], 
.emoji_f48b14[src='/assets/af51e8d03e05a1c14355.svg'], .emoji_f48b14[style*='background-image: url("/assets/af51e8d03e05a1c14355.svg")'], 
.emojiImage_f23da8[src='/assets/af51e8d03e05a1c14355.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/af51e8d03e05a1c14355.svg")'], 
.image_d90b3d[src='/assets/af51e8d03e05a1c14355.svg'], .image_d90b3d[style*='background-image: url("/assets/af51e8d03e05a1c14355.svg")'], 
.icon_a24e84[src='/assets/af51e8d03e05a1c14355.svg'], .icon_a24e84[style*='background-image: url("/assets/af51e8d03e05a1c14355.svg")'], 
.emoji_f2bfbb[src='/assets/af51e8d03e05a1c14355.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/af51e8d03e05a1c14355.svg")'], 
.emoji_cbdbf0[src='/assets/af51e8d03e05a1c14355.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/af51e8d03e05a1c14355.svg")'], 
.roleIcon_d5100b[src='/assets/af51e8d03e05a1c14355.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/af51e8d03e05a1c14355.svg")'], 
.emoji[src='/assets/af51e8d03e05a1c14355.svg'], .emoji[style*='background-image: url("/assets/af51e8d03e05a1c14355.svg")'] {
	background: transparent !important;
	content: "XD" !important;
}

/* rofl */
.diversityEmojiItemImage_cce80d[src='/assets/e17451fcdbba5089cb76.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/e17451fcdbba5089cb76.svg")'], 
.image_b000dd[src='/assets/e17451fcdbba5089cb76.svg'], .image_b000dd[style*='background-image: url("/assets/e17451fcdbba5089cb76.svg")'], 
.emoji_f48b14[src='/assets/e17451fcdbba5089cb76.svg'], .emoji_f48b14[style*='background-image: url("/assets/e17451fcdbba5089cb76.svg")'], 
.emojiImage_f23da8[src='/assets/e17451fcdbba5089cb76.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/e17451fcdbba5089cb76.svg")'], 
.image_d90b3d[src='/assets/e17451fcdbba5089cb76.svg'], .image_d90b3d[style*='background-image: url("/assets/e17451fcdbba5089cb76.svg")'], 
.icon_a24e84[src='/assets/e17451fcdbba5089cb76.svg'], .icon_a24e84[style*='background-image: url("/assets/e17451fcdbba5089cb76.svg")'], 
.emoji_f2bfbb[src='/assets/e17451fcdbba5089cb76.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/e17451fcdbba5089cb76.svg")'], 
.emoji_cbdbf0[src='/assets/e17451fcdbba5089cb76.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/e17451fcdbba5089cb76.svg")'], 
.roleIcon_d5100b[src='/assets/e17451fcdbba5089cb76.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/e17451fcdbba5089cb76.svg")'], 
.emoji[src='/assets/e17451fcdbba5089cb76.svg'], .emoji[style*='background-image: url("/assets/e17451fcdbba5089cb76.svg")'] {
	background: transparent !important;
	content: "XD" !important;
}

/* smiling_face_with_tear */
.diversityEmojiItemImage_cce80d[src='/assets/d336b394db9984508070.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/d336b394db9984508070.svg")'], 
.image_b000dd[src='/assets/d336b394db9984508070.svg'], .image_b000dd[style*='background-image: url("/assets/d336b394db9984508070.svg")'], 
.emoji_f48b14[src='/assets/d336b394db9984508070.svg'], .emoji_f48b14[style*='background-image: url("/assets/d336b394db9984508070.svg")'], 
.emojiImage_f23da8[src='/assets/d336b394db9984508070.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/d336b394db9984508070.svg")'], 
.image_d90b3d[src='/assets/d336b394db9984508070.svg'], .image_d90b3d[style*='background-image: url("/assets/d336b394db9984508070.svg")'], 
.icon_a24e84[src='/assets/d336b394db9984508070.svg'], .icon_a24e84[style*='background-image: url("/assets/d336b394db9984508070.svg")'], 
.emoji_f2bfbb[src='/assets/d336b394db9984508070.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/d336b394db9984508070.svg")'], 
.emoji_cbdbf0[src='/assets/d336b394db9984508070.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/d336b394db9984508070.svg")'], 
.roleIcon_d5100b[src='/assets/d336b394db9984508070.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/d336b394db9984508070.svg")'], 
.emoji[src='/assets/d336b394db9984508070.svg'], .emoji[style*='background-image: url("/assets/d336b394db9984508070.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Apple/people/smiling_face_with_tear.png") !important;
}

/* slight_smile */
.diversityEmojiItemImage_cce80d[src='/assets/2a974518305b727bbc31.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/2a974518305b727bbc31.svg")'], 
.image_b000dd[src='/assets/2a974518305b727bbc31.svg'], .image_b000dd[style*='background-image: url("/assets/2a974518305b727bbc31.svg")'], 
.emoji_f48b14[src='/assets/2a974518305b727bbc31.svg'], .emoji_f48b14[style*='background-image: url("/assets/2a974518305b727bbc31.svg")'], 
.emojiImage_f23da8[src='/assets/2a974518305b727bbc31.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/2a974518305b727bbc31.svg")'], 
.image_d90b3d[src='/assets/2a974518305b727bbc31.svg'], .image_d90b3d[style*='background-image: url("/assets/2a974518305b727bbc31.svg")'], 
.icon_a24e84[src='/assets/2a974518305b727bbc31.svg'], .icon_a24e84[style*='background-image: url("/assets/2a974518305b727bbc31.svg")'], 
.emoji_f2bfbb[src='/assets/2a974518305b727bbc31.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/2a974518305b727bbc31.svg")'], 
.emoji_cbdbf0[src='/assets/2a974518305b727bbc31.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/2a974518305b727bbc31.svg")'], 
.roleIcon_d5100b[src='/assets/2a974518305b727bbc31.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/2a974518305b727bbc31.svg")'], 
.emoji[src='/assets/2a974518305b727bbc31.svg'], .emoji[style*='background-image: url("/assets/2a974518305b727bbc31.svg")'] {
	background: transparent !important;
	content: ":>" !important;
}

/* upside_down */
.diversityEmojiItemImage_cce80d[src='/assets/11365d2160d515a798f2.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/11365d2160d515a798f2.svg")'], 
.image_b000dd[src='/assets/11365d2160d515a798f2.svg'], .image_b000dd[style*='background-image: url("/assets/11365d2160d515a798f2.svg")'], 
.emoji_f48b14[src='/assets/11365d2160d515a798f2.svg'], .emoji_f48b14[style*='background-image: url("/assets/11365d2160d515a798f2.svg")'], 
.emojiImage_f23da8[src='/assets/11365d2160d515a798f2.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/11365d2160d515a798f2.svg")'], 
.image_d90b3d[src='/assets/11365d2160d515a798f2.svg'], .image_d90b3d[style*='background-image: url("/assets/11365d2160d515a798f2.svg")'], 
.icon_a24e84[src='/assets/11365d2160d515a798f2.svg'], .icon_a24e84[style*='background-image: url("/assets/11365d2160d515a798f2.svg")'], 
.emoji_f2bfbb[src='/assets/11365d2160d515a798f2.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/11365d2160d515a798f2.svg")'], 
.emoji_cbdbf0[src='/assets/11365d2160d515a798f2.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/11365d2160d515a798f2.svg")'], 
.roleIcon_d5100b[src='/assets/11365d2160d515a798f2.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/11365d2160d515a798f2.svg")'], 
.emoji[src='/assets/11365d2160d515a798f2.svg'], .emoji[style*='background-image: url("/assets/11365d2160d515a798f2.svg")'] {
	background: transparent !important;
	content: "(:" !important;
}

/* wink */
.diversityEmojiItemImage_cce80d[src='/assets/9f29075153b546d6ea27.svg'], .diversityEmojiItemImage_cce80d[style*='background-image: url("/assets/9f29075153b546d6ea27.svg")'], 
.image_b000dd[src='/assets/9f29075153b546d6ea27.svg'], .image_b000dd[style*='background-image: url("/assets/9f29075153b546d6ea27.svg")'], 
.emoji_f48b14[src='/assets/9f29075153b546d6ea27.svg'], .emoji_f48b14[style*='background-image: url("/assets/9f29075153b546d6ea27.svg")'], 
.emojiImage_f23da8[src='/assets/9f29075153b546d6ea27.svg'], .emojiImage_f23da8[style*='background-image: url("/assets/9f29075153b546d6ea27.svg")'], 
.image_d90b3d[src='/assets/9f29075153b546d6ea27.svg'], .image_d90b3d[style*='background-image: url("/assets/9f29075153b546d6ea27.svg")'], 
.icon_a24e84[src='/assets/9f29075153b546d6ea27.svg'], .icon_a24e84[style*='background-image: url("/assets/9f29075153b546d6ea27.svg")'], 
.emoji_f2bfbb[src='/assets/9f29075153b546d6ea27.svg'], .emoji_f2bfbb[style*='background-image: url("/assets/9f29075153b546d6ea27.svg")'], 
.emoji_cbdbf0[src='/assets/9f29075153b546d6ea27.svg'], .emoji_cbdbf0[style*='background-image: url("/assets/9f29075153b546d6ea27.svg")'], 
.roleIcon_d5100b[src='/assets/9f29075153b546d6ea27.svg'], .roleIcon_d5100b[style*='background-image: url("/assets/9f29075153b546d6ea27.svg")'], 
.emoji[src='/assets/9f29075153b546d6ea27.svg'], .emoji[style*='background-image: url("/assets/9f29075153b546d6ea27.svg")'] {
	background: transparent !important;
	content: ";)" !important;
}
